.dark-blue {
  background: #354458 !important;
}

.light-blue {
  background: #3a9ad9 !important;
}

.teal {
  background: #29aba4 !important;
}

.tan {
  background: #e9e0d6;
}

.red {
  background: #eb7260 !important;
}
