@import url(https://fonts.googleapis.com/css?family=Assistant);

.image-item {

  flex-direction: column;
  position: relative;
  margin: 2% 1%;
}

.lazy {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.image-title {
  font-family: 'Assistant', sans-serif;
  font-size: 20px;
  padding: 0 2%;
  display: block;
  max-width: 50%;
  text-align: left;
}

@media only screen and (min-width : 768px) {
  .image-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .image-title {
    min-width: 50%;
  }
}


@media only screen and (min-width : 320px) {
  .image-title {
    display: block;
  }
}
